body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 98%);
}

h1{
    color:rgb(78, 78, 241);
}
form{
   background-color: hsl(0, 2%, 90%);
   text-align: center;
   max-width: 500px;
   margin: auto;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.555);
    margin-top: 200px;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;;
    border: 2px solid rgba(0, 0, 0, 0.466);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;

}
button{
    margin-top:15px;
    background-color: hsl(0, 77%, 59%);
    color:white;
    font-size: 1.5em;
    border:1px solid black;
    padding:10px 15px;
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: hsl(0, 77%, 30%); ;
}
#result{
    font-size: 1.75em;
    font-weight: bold;

}
